body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cart{
  display: flex;
gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;

}

.cart div{
  flex: 1 0 250px;
  background-color: rgb(231, 222, 222);
}